@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .back {
        background: #e2e2e2;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0%;
        overflow-y: auto;
       
    }

    .div-center {
        width: 650px;
        height: 400px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        padding: 1em 2em;
        border-bottom: 2px solid #ccc;
        display: table;
    }

    div.content {
        display: table-cell;
        vertical-align: middle;
    }

    form {
        background-color: #fff;
        padding: 30px;
        border-radius: 100px;
    }

    .nextBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        flex-direction: column;
        margin-bottom: 15px;
        display: grid; /* Change display to grid */
        grid-template-columns: repeat(2, 1fr); /* Set two columns */
        grid-gap: 10px; /* Add gap between grid items */
    }

    .input-field label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .item .remove-button {
        cursor: pointer;
        color: #ff0000;
    }

</style>

<div class="back">


    <div class="div-center">


        <div class="content">

            <div class="overflow-auto">
            <img src="~/cssdata/monat-logo_web.png" width="200" height="30">
            <h5>Admin View Form</h5>
            <hr />
            <h6>User Requisitioner Information</h6>
                @using (Html.BeginForm("AdminView", "Home", FormMethod.Post, new { target = "_blank" }))
            {
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Full Name</label>
                        <input class="form-control" type="text" placeholder="sanjeev" readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input class="form-control" type="text" placeholder="sanjeev@gmail.com" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Cost Center</label>
                        <input class="form-control" type="text" placeholder="C1212" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Account Assignment Category</label>
                        <input class="form-control" type="text" placeholder="K-Cost Center corresponding to Expense" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Plant</label>
                        <input class="form-control" type="text" placeholder="USA" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Material Code</label>
                        <input class="form-control" type="text" placeholder="M1212" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Quantity</label>
                        <input class="form-control" type="text" placeholder="10" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Valuation Price</label>
                        <input class="form-control" type="text" placeholder="250" readonly>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">DeliveryDate</label>
                        <input class="form-control" type="text" placeholder="06-Jun-2023" readonly>
                    </div>

                    <Br />
                    @if (@ViewBag.LRSUserDataId == "Approve")
                    {
                        <div class="alert alert-success" role="alert" id="successMessage">
                            User Details have been Approved.

                            order #[1234] status Detail sent to user Email id


                        </div>

                    }
                        @if (@ViewBag.LRSUserDataId == "Reject")
                    {
                        <div class="alert alert-success" role="alert" id="successMessage">
                            User Details have been Rejected.

                            order #[1234] status Detail sent to user Email id


                        </div>

                    }

                    <br>
                    <br />
                    <br />
                    <input type="submit" value="Approve" name="button" class="btn btn-primary btn-sm" />
                        <input type="submit" value="Reject" name="button" class="btn btn-primary btn-sm" />
                        @*<button type="submit" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Reject", "Home")';return false;">Reject</button>*@
                           
                        <button type="submit" class="btn btn-primary btn-sm" style="float:right" onclick="location.href='@Url.Action("Index", "Home")';return false;">Back</button>
                    @*<button type="submit" class="btn btn-primary btn-sm" onclick="myFunction() ">Submit</button>*@

                    @*<button type="submit" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("PurchaseRequisitionForm", "Home")';return false;">Reset</button>
                    <button type="submit" class="btn btn-primary btn-sm" style="float:right" onclick="location.href='@Url.Action("Index", "Home")';return false;">Back</button>*@
                    @*<div class="btn btn-primary btn-sm">

                @*<button type="button" class="btn btn-primary btn-sm" asp-controller="Home" asp-action="PurchaseRequisitionForm">Submit a Request</button>*@
                    @*@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-primary btn-sm",@style = "float:right;" })*@
                    @*</div>*@
                </form>

            }

            </div>





        </div>



    </div>
</div>

<script>

    

    function myFunction() {
        document.getElementById('successMessage').style.display = 'block';
        location.href = '@Url.Action("Index", "Home")'; return false;
        event.preventDefault()
    }
    function reset() {

        location.reload()
    }

</script>